In [ ]:
import pandas as pd
import numpy as np

In [8]:
filename = 'rock_paper_scissors.csv'

rock_df = pd.read_csv(filename)

In [9]:
rock_df.head()

  Opponent Me  score
0        B  Z    NaN
1        B  Z    NaN
2        C  Z    NaN
3        C  Z    NaN
4        B  X    NaN

In [10]:
rock_df = (
rock_df
.assign(
    opponent = lambda x: np.select(
        [(x.Opponent=='A'), (x.Opponent=='B'), (x.Opponent=='C'), True],
        ['rock', 'paper', 'scissors', '?'])
).assign(
        me = lambda x:np.select(
            [(x.Me=='X'), (x.Me=='Y'), (x.Me=='Z'), True],
            ['rock', 'paper', 'scissors', '?'])
    )
).drop(
columns=['Opponent', 'Me', 'score'])

In [11]:
rock_df = (
rock_df
    .assign(
    score = lambda x: np.where(
    x['opponent']==x['me'], 3, 'NaN'))
)

In [12]:
rock_df.sample(10)

      opponent        me score
748   scissors  scissors     3
2157     paper      rock   NaN
437       rock  scissors   NaN
1739  scissors  scissors     3
230   scissors     paper   NaN
457       rock      rock     3
1302  scissors  scissors     3
2244     paper  scissors   NaN
1146  scissors  scissors     3
744      paper      rock   NaN

In [13]:
rock_df = (
rock_df
    .assign(
        score = lambda x: np.where(
        (x['opponent']=='rock') & (x['me']=='scissors'),
        0, x['score']
        )
    )
    .assign(
        score = lambda x: np.where(
        (x.opponent == 'rock') & (x.me == 'paper'),
            6, x.score)
    )
    .assign(
        score = lambda x: np.where(
        (x.opponent=='paper') & (x.me == 'scissors'),
            6, x.score)
    )
    .assign(
        score = lambda x: np.where(
        (x.opponent=='paper')&(x.me=='rock'),
        0, x.score)
    )
    .assign(
        score = lambda x: np.where(
        (x.opponent=='scissors')&(x.me=='paper'),
            0, x.score
        )
    )
    .assign(
        score = lambda x: np.where(
        (x.opponent=='scissors')&(x.me=='rock'),
            6, x.score
        )
    )
)

In [14]:
rock_df.sample(10)

      opponent        me score
2236  scissors  scissors     3
784   scissors  scissors     3
702   scissors  scissors     3
854      paper  scissors     6
1193  scissors  scissors     3
1800  scissors  scissors     3
1061  scissors  scissors     3
1889  scissors  scissors     3
463      paper  scissors     6
308       rock      rock     3

In [15]:
rock_df.score.value_counts()

3    1096
6     990
0     414
Name: score, dtype: int64

In [16]:
rock_df = (
rock_df
    .assign(
    add_score = lambda x: np.select(
        [x.me=='rock', x.me=='paper', x.me=='scissors'],
        [1,2,3]
    )
    )
)

In [17]:
rock_df.score = rock_df.score.astype(int)

In [18]:
rock_df['final_score'] = rock_df['score'] + rock_df['add_score']

In [19]:
rock_df.head()

   opponent        me  score  add_score  final_score
0     paper  scissors      6          3            9
1     paper  scissors      6          3            9
2  scissors  scissors      3          3            6
3  scissors  scissors      3          3            6
4     paper      rock      0          1            1

In [20]:
rock_df['final_score'].sum()

15523

End of Day 1

In [21]:
rock_2 = pd.read_csv(filename)

In [22]:
rock_2 = (
    rock_2
    .assign(
        score = lambda x: np.where(
            x.Me=='Y', 3, x.score
        )
    
    )
    .assign(
        score = lambda x: np.where(
            x.Me=='X', 0, x.score
        )
    )
    .assign(
        score = lambda x: np.where(
            x.Me=='Z', 6, x.score
        )
    )
)

In [23]:
rock_2.score.value_counts()

6.0    1655
3.0     485
0.0     360
Name: score, dtype: int64

In [24]:
rock_2.head()

  Opponent Me  score
0        B  Z    6.0
1        B  Z    6.0
2        C  Z    6.0
3        C  Z    6.0
4        B  X    0.0

In [27]:
rock_2 = (
    rock_2
    .assign(
        opponent = lambda x: np.select(
            [(x.Opponent=='A'), (x.Opponent=='B'), (x.Opponent=='C'), True],
            ['rock', 'paper', 'scissors', '?'])
        )
    .drop(
        columns='Opponent')
)

In [28]:
rock_2 = (
    rock_2
    .assign(
        me = lambda x: np.select(
            [(x.score==3),((x.opponent=='paper') & (x.score==6)), ((x.opponent=='paper')&(x.score==0)), ((x.opponent=='scissors')&(x.score==6)), ((x.opponent=='scissors')&(x.score==0)),((x.opponent=='rock')&(x.score==6)),((x.opponent=='rock')&(x.score==0))],
            [x.opponent,'scissors', 'rock', 'rock','paper', 'paper', 'scissors'])
        )
    )

In [29]:
rock_2.sample(15)

     Me  score  opponent        me
1585  Y    3.0      rock      rock
1095  Z    6.0  scissors      rock
1412  Z    6.0  scissors      rock
1370  Z    6.0  scissors      rock
1503  Z    6.0  scissors      rock
1466  Z    6.0     paper  scissors
438   Z    6.0  scissors      rock
530   Z    6.0  scissors      rock
815   Z    6.0     paper  scissors
1336  Z    6.0  scissors      rock
2017  Y    3.0      rock      rock
111   X    0.0     paper      rock
2154  Y    3.0      rock      rock
808   Z    6.0     paper  scissors
129   Z    6.0  scissors      rock

In [30]:
rock_2.me.value_counts()

rock        1411
scissors     728
paper        361
Name: me, dtype: int64

In [31]:
rock_2 = (
    rock_2
    .assign(
        add_score = lambda x: np.select(
            [x.me=='rock', x.me=='paper', x.me=='scissors'],
            [1,2,3]
            )
        )
    )

In [32]:
rock_2['final_score']=rock_2['add_score']+rock_2['score']

In [33]:
rock_2.final_score.sum()

15702.0