In [1]:
import pandas as pd
import numpy as np

In [3]:
filename = 'rock_paper_scissors.csv'

rock_df = pd.read_csv(filename)

In [4]:
rock_df.head()

  Opponent Me  score
0        B  Z    NaN
1        B  Z    NaN
2        C  Z    NaN
3        C  Z    NaN
4        B  X    NaN

In [5]:
rock_df = (
    rock_df
    .assign(
        opponent = lambda x: np.select(
            [(x.Opponent=='A'), (x.Opponent=='B'), (x.Opponent=='C'), True],
            ['rock', 'paper', 'scissors', '?'])
        )
    .assign(
        me = lambda x:np.select(
            [(x.Me=='X'), (x.Me=='Y'), (x.Me=='Z'), True],
            ['rock', 'paper', 'scissors', '?'])
        )
    ).drop(
        columns=['Opponent', 'Me', 'score']
    )

In [6]:
rock_df = (
    rock_df
    .assign(
        score = lambda x: np.where(
            x['opponent']==x['me'], 3, 'NaN')
        )
    )

In [8]:
rock_df.sample(10)

      opponent        me score
2409     paper  scissors   NaN
592   scissors  scissors     3
1411  scissors  scissors     3
305   scissors  scissors     3
720   scissors  scissors     3
2275     paper  scissors   NaN
1964      rock  scissors   NaN
1043      rock     paper   NaN
1098     paper      rock   NaN
1869  scissors  scissors     3

In [9]:
rock_df = (
    rock_df
    .assign(
        score = lambda x: np.where(
            (x['opponent']=='rock') & (x['me']=='scissors'),
            0, x.score
            )
        )
    .assign(
        score = lambda x: np.where(
            (x.opponent == 'rock') & (x.me == 'paper'),
            6, x.score
            )
        )
    .assign(
        score = lambda x: np.where(
            (x.opponent=='paper') & (x.me == 'scissors'),
            6, x.score
            )
        )
    .assign(
        score = lambda x: np.where(
            (x.opponent=='paper')&(x.me=='rock'),
            0, x.score
            )
        )
    .assign(
        score = lambda x: np.where(
            (x.opponent=='scissors')&(x.me=='paper'),
            0, x.score
            )
        )
    .assign(
        score = lambda x: np.where(
            (x.opponent=='scissors')&(x.me=='rock'),
            6, x.score
            )
        )
)

In [10]:
rock_df.sample(10)

      opponent        me score
1050      rock     paper     6
1552      rock  scissors     0
617       rock     paper     6
1098     paper      rock     0
1888      rock     paper     6
1383  scissors  scissors     3
466   scissors     paper     0
1624     paper  scissors     6
945       rock     paper     6
1586  scissors     paper     0

In [11]:
rock_df.score.value_counts()

3    1096
6     990
0     414
Name: score, dtype: int64

In [12]:
rock_df = (
    rock_df
    .assign(
        add_score = lambda x: np.select(
            [x.me=='rock', x.me=='paper', x.me=='scissors'],
            [1,2,3]
            )
        )
    )

In [13]:
rock_df.score = rock_df.score.astype(int)

In [14]:
rock_df['final_score'] = rock_df['score'] + rock_df['add_score']

In [15]:
rock_df.head()

   opponent        me  score  add_score  final_score
0     paper  scissors      6          3            9
1     paper  scissors      6          3            9
2  scissors  scissors      3          3            6
3  scissors  scissors      3          3            6
4     paper      rock      0          1            1

In [16]:
rock_df['final_score'].sum()

15523